{% extends 'boards/base.html' %}
{% block body %}
<h1>detail</h1>
<h2>{{ board.id }}th post</h2>
<hr>
<h3>{{ board.title }}</h3>
<p>{{ board.content }}</p>
<p>{{ board.created_at }}</p>
<p>{{ board.updated_at }}</p>
<a href="{% url 'boards:index' %}">BACK</a>
<a href="{% url 'boards:edit' board.pk %}">edit</a>
<a href="{% url 'boards:delete' board.pk %}" onclick"return confirm('are you sure?')">delete</a>
<form action="{% url 'boards:delete' board.pk %}"  style="display: inline" method="POST" onsubmit="return confirm('are you sure?');" >
    {% csrf_token %}
    <input type="submit" value ="submit">
</form>


    <hr>
    {% for comment in comments %}
    <li>
        {{ comment.content }}
        <form action="{% url 'boards:comments_delete' comment.pk %}" method="POST" style="display: inline;">
            {% csrf_token %}
            <input type="submit" value"delete">
        </form>
    </li>
    {% empty %}
    <p><strong>there's no comment added yet.</strong></p>
    {% endfor %}

    <hr>
    <p>comments {{ comments | length }}</p>
    <form action="{% url 'boards:comments_create' board.pk %}" method="POST" style="display: inline" onsubmit="return confirm('r u sure?');">
        {% csrf_token %}
        comment: <input type="text" name="content">
        <input type="submit" name="comment submit">
    </form>
    {% endblock body %}
